<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>书籍数据</title>
    <!-- 引入 echarts.js -->
    <!-- 这里是加载刚下好的echarts.min.js，注意路径 -->
    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts-en.common.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>


</head>
<body>


<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8 col-sm-offset-2">
        <h3>
            自制的SF网站书籍数据查询。
        </h3>
        <ol>
            <li>
                只收录最近45天更新,且字数上5万的作品。
            </li>
            <li>
                乱输入书名会自动跳到错误页面。
            </li>
            <li>
                自娱自乐作品。后期打算加“看看自己算老几”的功能
            </li>
        </ol>
    </div>
    <div class="span2">
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 col-sm-offset-2">

            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 80%;height:700px;"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
        </div>
        <div class="span4">
            <form action="/bookname" method="get">
                <fieldset>
                    <legend>提交书名</legend>
                    <label>书名：</label><input name="bookname" type="text"/> <span class="help-block">.</span>
                    <button class="btn" type="submit">提交</button>
                </fieldset>
            </form>
        </div>
        <div class="span4">
        </div>
    </div>
</div>


<script th:inline="javascript">


    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));


    option = {
        title: {
            text: '最近一周的数据变化',
            subtext: ''
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['点击增长量', '收藏增长量', '月票增长量', '字数增长量', '赞数增长量']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['2018-', '2018-', '2018-', '2018-', '2018-', '2018-', '2018-']
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} '
                }
            }
        ],
        series: [
            {
                name: '点击增长量',
                type: 'line',
                data: [11, 11, 15, 13, 12, 13, 10],
                markPoint: {
                    data: []
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '收藏增长量',
                type: 'line',
                data: [325, 600, 334, 0, 0, 0, 0],
                markPoint: {
                    data: []
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '月票增长量',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0],
                markPoint: {
                    data: []
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '字数增长量',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0],
                markPoint: {
                    data: []
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '赞数增长量',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0],
                markPoint: {
                    data: []
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };


    option.title.text = [[${date.name}]] ;


    //' ['点击增长量','收藏增长量','月票增长量','字数增长量','赞数增长量']
    option.xAxis[0].data = [[${date.xAxisdate}]];
    option.series[0].data = [[${date.clictNumInc}]];
    option.series[1].data = [[${date.collectNumInc}]];
    option.series[2].data = [[${date.monthlyNumInc}]];
    option.series[3].data = [[${date.wordNumInc}]];
    option.series[4].data = [[${date.likeNumInc}]];

    myChart.setOption(option);


</script>
</body>
</html>

